#lecture_table,
.lecture_table tr,
.lecture_table td {
    background-color: white !important;
}

textarea {
    min-height: 5rem;
    overflow-y: hidden;
    resize: none;
}

table #timetable {
    table-layout:fixed;
}

td {
    width:100px;
    word-wrap:break-word;
}