#lecture_table,
.lecture_table tr,
.lecture_table td {
    background-color: white !important;
}

textarea {
    min-height: 5rem;
    overflow-y: hidden;
    resize: none;
}

/*#timetable {
    table-layout:fixed;
}*/

#timetable td {
    word-wrap:break-word;
}