{% extends 'lecture/lecture_base.html' %}
{% load lecture_filter %}
{% block content %}

<div class="row g-5 justify-content-center">
    <div class="col-md-12 col-lg-12">
        <h4 class="mb-3">시간표</h4>
        <form  name="lecture_info" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-2">
                  <select class="form-select" id="season_nm" name="season_nm" required>
                    <option value="">(필수)학기선택...</option>
                    {% if season_list %}
                      {% for season in season_list %}
                        <option value="{{season.season_nm}}" {% if season.season_nm == form.season_nm.value %}{{ 'selected' }}{% endif %}>{{season.season_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-2">
                  <select class="form-select" id="camp_nm" name="camp_nm" required>
                    <option value="">(필수)캠퍼스선택...</option>
                    {% if campus_list %}
                      {% for campus in campus_list %}
                        <option value="{{campus.camp_nm}}" {% if campus.camp_nm == form.camp_nm.value %}{{ 'selected' }}{% endif %}>{{campus.camp_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-2">
                  <select class="form-select" id="grade_nm" name="grade_nm" required>
                    <option value="">학년전체...</option>
                    {% if grade_list %}
                      {% for grade in grade_list %}
                        <option value="{{grade.grade_nm}}" {% if grade.grade_nm == form.grade.value %}{{ 'selected' }}{% endif %}>{{grade.grade_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-2">
                  <select class="form-select" id="name" name="name" required>
                    <option value="">강사전체...</option>
                    {% if teacher_list %}
                      {% for teacher in teacher_list %}
                        <option value="{{ teacher.name }}" {% if teacher.name == form.name.value %}{{ 'selected' }}{% endif %}>{{ teacher.name }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <!-- <div class="col-md-2">
                  <select class="form-select" id="yoil_nm" name="yoil_nm" required>
                    <option value="">요일전체...</option>
                    {% if yoil_list %}
                      {% for yoil in yoil_list %}
                        <option value="{{ yoil.yoil_nm }}" {% if yoil.yoil_nm == form.yoil_nm.value %}{{ 'selected' }}{% endif %}>{{ yoil.yoil_nm }}요일</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div> -->

                <div class="col-md-2">
                  <button type="button" class="btn btn-warning search-btn">검색</button>
                </div>

            </div>
        </form>

        <div class="row g-3 mt-2">
            <div class="col-md-12">
              {% if yoil_info_li %}
              <label for="lect_grade" class="form-label">총 {% if yoil_info_li %}{{ time_info|length }}{% else %}0{% endif %}개</label>
              {% for i in yoil_list|list_cnt_range %}
              <table id="timetable{{ forloop.counter }}" class="timetable table-hover table-bordered" style="white-space:nomal; font-size:13px; background-color:white;">
                <tbody>

                <tr>
                    <th>캠퍼스</th>
                    <th style="text-align:center;" colspan="{{ yoil_lect_cnt|index:i }}">{{ form.camp_nm.value }}</th>
                </tr>

                <tr>
                    <th>요일</th>

                    <th style="text-align:center;" colspan="{{ yoil_lect_cnt|index:i }}">{{ yoil_list|yoil_index:i }}요일</th>

                </tr>
                {% if yoil_lect_cnt|index:i > 0 %}
                <tr>
                    <th>과목</th>
                    {% for k in yoil_info_li|index:i|list_cnt_range %}
                    <th style="text-align:center;">{{ yoil_info_li|index:i|index:k|get_subject_name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>강사명</th>
                    {% for k in yoil_info_li|index:i|list_cnt_range %}
                    <th style="text-align:center;">{{ yoil_info_li|index:i|index:k|get_teacher_name }}</th>
                    {% endfor %}
                </tr>

                {% for time in time_list %}
               <tr>
                    <td width="100" style="text-align:center;">{{ time.time_nm }}</td>
                    {% for k in yoil_info_li|index:i|list_cnt_range %}
                      {% if yoil_info_li|index:i|index:k|time_mapping:time.time_nm|get_lecture:time_info == None %}
                    <td width="150" style="word-break:normal; text-align:center;"></td>
                      {% else%}
                    <td width="150" style="word-break:normal; text-align:center;">
                    {{ yoil_info_li|index:i|index:k|time_mapping:time.time_nm|get_lecture:time_info|get_lect_name|linebreaksbr|default_if_none:'' }}
                    </td>
                      {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
              </table>
              <br>
              {% endfor %}

            </div>
            {% endif %}
        </div>

    </div>
</div>


{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $('.search-btn').on('click',function(){
            if ($("#season_nm").val() == ""){
                 $("#season_nm").focus();
                  return false;
            }
            if ($("#camp_nm").val() == ""){
                 $("#camp_nm").focus();
                  return false;
            }
            $('form').submit();
        });
    }); //endready

    jQuery(function(){

      {% if yoil_info_li %}
        {% for i in yoil_list|list_cnt_range %}
            {% for j in yoil_lect_cnt|index:i|list_cnt_range2 %}
                $('#timetable{{i|add:1}}').rowspan({{j|add:1}});
            {% endfor %}
        {% endfor %}
      {% endif %}

      //$('#timetable1').rowspan(0);
      //$('#timetable1').rowspan(1);
      //$('#timetable1').rowspan(2);
      //$('#timetable1').rowspan(3);
      //$('#timetable1').rowspan(4);
    });

    $.fn.rowspan = function(colIdx, isStats) {
			return this.each(function(){
				var that;
				$('tr', this).each(function(row) {
					$('td:eq('+colIdx+')', this).filter(':visible').each(function(col) {

						if ($(this).html() == $(that).html() && $(this).html() != ''){
							rowspan = $(that).attr("rowspan") || 1;
							rowspan = Number(rowspan)+1;

							$(that).attr("rowspan",rowspan);

							// do your action for the colspan cell here
							$(this).hide();

							//$(this).remove();
							// do your action for the old cell here

						} else {
							that = this;
						}

						// set the that if not already set
						that = (that == null) ? this : that;
					});
				});
			});
		};

</script>
{% endblock %}