{% extends 'lecture/lecture_base.html' %}
{% block content %}
<div class="row g-5 justify-content-center">
    <div class="col-md-12 col-lg-12">
        <h4 class="mb-3">강의리스트</h4>
        <form  name="lecture_info" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-3">
                  <select class="form-select" id="season_nm" name="season_nm" required>
                    <option value="">학기선택...</option>
                    {% if season_list %}
                      {% for season in season_list %}
                        <option value="{{season.season_nm}}" {% if season.season_nm == form.season_nm.value %}{{ 'selected' }}{% endif %}>{{season.season_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-3">
                  <select class="form-select" id="camp_nm" name="camp_nm" required>
                    <option value="">캠퍼스선택...</option>
                    {% if campus_list %}
                      {% for campus in campus_list %}
                        <option value="{{campus.camp_nm}}" {% if campus.camp_nm == form.camp_nm.value %}{{ 'selected' }}{% endif %}>{{campus.camp_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-3">
                  <select class="form-select" id="name" name="name" required>
                    <option value="">강사명선택...</option>
                    {% if teacher_list %}
                      {% for teacher in teacher_list %}
                        <option value="{{ teacher.name }}" {% if teacher.name == form.name.value %}{{ 'selected' }}{% endif %}>{{ teacher.name }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-3">
                  <button type="button" class="btn btn-warning search-btn">검색</button>
                </div>

            </div>
        </form>

        <div class="row g-3 mt-2">
            <div class="col-md-9">
              <label for="lect_grade" class="form-label">총 {{ mylecture_list.count }}개</label>
              <ul class="list-group" id="lect_list" name="lect_list">
              {% if mylecture_list %}
                  {% for mylecture in mylecture_list %}
                  <li class="list-group-item">
                  {{ mylecture.lect_grade }}
                  {{ mylecture.subject }}
                  {{ mylecture.lect_nm }}
                  {{ mylecture.lect_explan }}
                  {{ mylecture.timeselect }}
                  {{ mylecture.lect_yoil }}
                  {{ mylecture.lect_time }}
                  {{ mylecture.lect_time2 }}
                  {{ mylecture.week_cnt }}
                  {{ mylecture.in_cnt }}
                  {{ mylecture.lect_fee }}
                  {{ mylecture.lect_fee_explan }}
                  </li>
                  {% endfor %}
              {% endif %}
              </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $('.search-btn').on('click',function(){
            if ($("#season_nm").val() == ""){
                 $("#season_nm").focus();
                  return false;
            }
            if ($("#camp_nm").val() == ""){
                 $("#camp_nm").focus();
                  return false;
            }
            if ($("#name").val() == ""){
                 $("#name").focus();
                  return false;
            }
            $('form').submit();
        });
    });
</script>
{% endblock %}