{% extends 'lecture/lecture_base.html' %}
{% load lecture_filter %}
{% block content %}
<div class="row g-5 justify-content-center">
    <div class="col-md-12 col-lg-12">
        <h4 class="mb-3">강의리스트</h4>
        <form  name="lecture_info" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-2">
                  <select class="form-select select_list" id="season_nm" name="season_nm" required>
                    <option value="">학기전체...</option>
                    {% if season_list %}
                      {% for season in season_list %}
                        <option value="{{season.season_nm}}" {% if season.season_nm == form.season_nm.value %}{{ 'selected' }}{% endif %}>{{season.season_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-2">
                  <select class="form-select select_list" id="camp_nm" name="camp_nm" required>
                    <option value="">캠퍼스전체...</option>
                    {% if campus_list %}
                      {% for campus in campus_list %}
                        <option value="{{campus.camp_nm}}" {% if campus.camp_nm == form.camp_nm.value %}{{ 'selected' }}{% endif %}>{{campus.camp_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-2">
                  <select class="form-select select_list" id="grade_nm" name="grade_nm" required>
                    <option value="">학년전체...</option>
                    {% if grade_list %}
                      {% for grade in grade_list %}
                        <option value="{{grade.grade_nm}}" {% if grade.grade_nm == form.grade.value %}{{ 'selected' }}{% endif %}>{{grade.grade_nm}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                {% if staff == True %}
                <div class="col-md-1">
                  <select class="form-select select_list" id="subject" name="subject" required>
                    <option value="">과목전체...</option>
                    {% if subjects_list %}
                      {% for subject in subjects_list %}
                        <option value="{{ subject.subject_nm }}" {% if subject.subject_nm == form.subject.value %}{{ 'selected' }}{% endif %}>{{ subject.subject_nm }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-1">
                  <select class="form-select select_list" id="name" name="name" required>
                    <option value="">강사전체...</option>
                    {% if teacher_list %}
                      {% for teacher in teacher_list %}
                        <option value="{{ teacher.name }}" {% if teacher.name == form.name.value %}{{ 'selected' }}{% endif %}>{{ teacher.name }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                {% endif %}

                <div class="col-md-2">
                  <select class="form-select select_list" id="yoil_nm" name="yoil_nm" required>
                    <option value="">요일전체...</option>
                    {% if yoil_list %}
                      {% for yoil in yoil_list %}
                        <option value="{{ yoil.yoil_nm }}" {% if yoil.yoil_nm == form.yoil_nm.value %}{{ 'selected' }}{% endif %}>{{ yoil.yoil_nm }}요일</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-2">
                  <button type="button" class="btn btn-warning search-btn">검색</button>
                </div>

            </div>
        </form>

        <div class="row g-3 mt-2">
            <div class="col-md-12">
              <label for="lect_grade" class="form-label">총 {% if mylecture_list.count  %}{{ mylecture_list.count }}{% else %}0{% endif %}개</label>
              <table class="table table-hover table-sm table-bordered" style="font-size:13px;" id="lecture_table">
                  <thead>
                    <tr>
                      <th scope="col">번호</th>
                      <th scope="col" class="text-center">캠퍼스</th>
                      <th scope="col" class="text-center">학기</th>
                      <th scope="col" class="text-center">대상학년</th>
                      <th scope="col" class="text-center">과목</th>
                      <th scope="col" class="text-center">강의명</th>
                      {% if staff == True %}
                        <th scope="col" class="text-center">강사명</th>
                      {% endif %}
                      <th scope="col" class="text-center">등원요일</th>
                      <th scope="col" class="text-center">등원개수</th>
                      <th scope="col" class="text-center">수강료(원)</th>
                      <th scope="col" class="text-center">수강료설명</th>
                      <th scope="col" class="text-center">수정/삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if mylecture_list %}
                        {% for mylecture in mylecture_list %}
                    <tr>
                      <th scope="row" class="align-middle">{{ forloop.counter }}</th>
                      <td class="align-middle">{{ mylecture.camp_nm|cut_text }}</td>
                      <td class="align-middle">{{ mylecture.season_nm }}</td>
                      <td class="align-middle">{% for mylecture in mylecture.lect_grade|grade %} {{ mylecture }} {% endfor %}</td>
                      <td class="align-middle">{{ mylecture.subject }}</td>
                      <td class="align-middle">{{ mylecture.lect_nm }}</td>
                      {% if staff == True %}
                        <td class="align-middle">{{ mylecture.name }}</td>
                      {% endif %}
                      {% if mylecture.timeselect == True %}
                      <td class="align-middle">시간협의</td>
                      {% else %}
                      <td class="align-middle"> <!-- filter 에 yoil_time 사용 -->
                          {% yoil_time mylecture.lect_yoil mylecture.lect_time mylecture.lect_time2 as timeis %}
                          {% if timeis %}
                              {% for time in timeis %}
                                {{ time }}<br>
                              {% endfor %}
                          {% endif %}
                      {% endif %}
                      </td>
                      {% if mylecture.timeselect == False %}
                      <td class="align-middle">{{ mylecture.week_cnt }}중 택{{ mylecture.in_cnt }}</td>
                      {% else %}
                      <td class="align-middle">협의</td>
                      {% endif %}
                      <td class="align-middle">{{ mylecture.lect_fee|comma }}</td>
                      <td class="align-middle">{{ mylecture.lect_fee_explan|linebreaksbr }}</td>
                      <td class="align-middle text-center">
                          <a name="list_{{ mylecture.id }}"></a>
                          <a href="{% url 'lecture:lecture_modify' mylecture.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                          <a href="#" data-uri="{% url 'lecture:lecture_delete' mylecture.id  %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
                      </td>
                    </tr>
                        {% endfor %}
                    {% else %}
                        {% if staff == True %}
                            <tr><td class="align-middle text-center" colspan="12">강의가 없습니다.</td></tr>
                        {% else %}
                            <tr><td class="align-middle text-center" colspan="11">강의가 없습니다.</td></tr>
                        {% endif %}
                    {% endif %}
                  </tbody>
              </table>

            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $(".delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });


        $('.search-btn').on('click',function(){
//            if ($("#season_nm").val() == ""){
//                 $("#season_nm").focus();
//                  return false;
//            }
//            if ($("#camp_nm").val() == ""){
//                 $("#camp_nm").focus();
//                  return false;
//            }
//            if ($("#name").val() == ""){
//                 $("#name").focus();
//                  return false;
//            }
            $('form').submit();
        });
    }); //endready
</script>
{% endblock %}