<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class="row">

  <div class="col-12 col-md">
    <img class="mb-2" src="../assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
    <small class="d-block mb-3 text-muted">&copy; 2021–2022</small>
  </div>

  <div class="col-2 col-md">
    <h8>주식회사 뿌리와샘</h8>
    <ul class="list-unstyled text-small">
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">사업자번호: 323-86-00305</a></li>
      <!-- <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">대표자: 류미경</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">주소: 제주시 노연로 17, 2층</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">TEL: 064-746-6075</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li> -->
    </ul>
  </div>

  <div class="col-2 col-md">
    <h8>대표자</h8>
    <ul class="list-unstyled text-small">
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">류미경</a></li>
      <!-- <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">주소: 제주시 노연로 17, 2층</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li> -->
    </ul>
  </div>

  <div class="col-2 col-md">
    <h8>TEL</h8>
    <ul class="list-unstyled text-small">
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">064-746-6075</a></li>
      <!-- <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li> -->
    </ul>
  </div>

</div>
</footer>