{% extends './giten_base.html' %}
{% block content %}
<!-- Default form login -->
<form class="text-center border border-light p-5">
    {% csrf_token %}
<!--    {{ form.as_p }}-->

    <p class="h4 mb-4">모의고사 신청 하기</p>

    <!-- 이름 -->
    <input type="text" name="nameis" id="nameis" class="form-control mb-4" placeholder="이름"
           value="{{ form.nameis.value|default_if_none:'' }}">

    <!-- 학교 -->
    <input type="text" name="schoolis" id="schoolis" class="form-control mb-4" placeholder="학교명"
           value="{{ form.schoolis.value|default_if_none:'' }}">

    <!-- 학년 -->
    <input type="text" name="gradeis" id="gradeis" class="form-control mb-4" placeholder="학년"
           value="{{ form.gradeis.value|default_if_none:'' }}">

    <!-- 전화번호 -->
    <input type="text" name="phoneis" id="phoneis" class="form-control mb-4" placeholder="전화번호"
           value="{{ form.phoneis.value|default_if_none:'' }}">

    <!-- 재원/비재원 -->
    <select name="bboosamis" id="bboosamis" class="browser-default custom-select-lg form-control mb-4">
      <option selected>재원생/비재원생 선택</option>
      <option value="1">재원생</option>
      <option value="2">비재원생</option>
    </select>

    <!-- 이메일 -->
    <input type="email" name="emailis" id="emailis" class="form-control mb-4" placeholder="이메일"
           value="{{ form.emailis.value|default_if_none:'' }}">


    <p class="h5 mb-4">등원 요일/시간 정하기</p>

    <table class="table">
        <thead class="table-dark lighten-2">
          <tr>
            <th class="tg-0lax" colspan="2">1주차</th>
            <th class="tg-0lax" colspan="2">2주차</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">월</td>
            <td class="tg-0lax">21:00-24:00</td>
            <td class="tg-0lax">월</td>
            <td class="tg-0lax">21:00-24:00</td>
          </tr>
          <tr>
            <td class="tg-0lax">화</td>
            <td class="tg-0lax">21:00-24:00</td>
            <td class="tg-0lax">화</td>
            <td class="tg-0lax">21:00-24:00</td>
          </tr>
          <tr>
            <td class="tg-0lax">수</td>
            <td class="tg-0lax">21:00-24:00</td>
            <td class="tg-0lax">수</td>
            <td class="tg-0lax">21:00-24:00</td>
          </tr>
          <tr>
            <td class="tg-0lax">목</td>
            <td class="tg-0lax">21:00-24:00</td>
            <td class="tg-0lax">목</td>
            <td class="tg-0lax">21:00-24:00</td>
          </tr>
          <tr>
            <td class="tg-0lax">토</td>
            <td class="tg-0lax">09:00-12:00<br>21:00-24:00</td>
            <td class="tg-0lax">토</td>
            <td class="tg-0lax">09:00-12:00<br>21:00-24:00</td>
          </tr>
          <tr>
            <td class="tg-0lax">일</td>
            <td class="tg-0lax">09:00-12:00<br>21:00-24:00</td>
            <td class="tg-0lax">일</td>
            <td class="tg-0lax">09:00-12:00<br>21:00-24:00</td>
          </tr>
        </tbody>
    </table>

<!--    <table class="table">-->
<!--      <thead class="table-dark lighten-2">-->
<!--        <tr>-->
<!--          <th scope="col">#</th>-->
<!--          <th scope="col">1주차</th>-->
<!--          <th scope="col">2주차</th>-->
<!--          <th scope="col">3주차</th>-->
<!--          <th scope="col">4주자</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        <tr>-->
<!--          <th scope="row">월</th>-->
<!--          <td>21:00-24:00</td>-->
<!--          <td>21:00-24:00</td>-->
<!--          <td>21:00-24:00</td>-->
<!--          <td>21:00-24:00</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">화</th>-->
<!--          <td>Jacob</td>-->
<!--          <td>Thornton</td>-->
<!--          <td>@fat</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">수</th>-->
<!--          <td>Larry</td>-->
<!--          <td>the Bird</td>-->
<!--          <td>@twitter</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">목</th>-->
<!--          <td>Larry</td>-->
<!--          <td>the Bird</td>-->
<!--          <td>@twitter</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">토</th>-->
<!--          <td>Larry</td>-->
<!--          <td>the Bird</td>-->
<!--          <td>@twitter</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">일</th>-->
<!--          <td>Larry</td>-->
<!--          <td>the Bird</td>-->
<!--          <td>@twitter</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <table class="table">-->
<!--      <thead class="black white-text">-->
<!--        <tr>-->
<!--          <th scope="col">#주차</th>-->
<!--          <th scope="col">월</th>-->
<!--          <th scope="col">화</th>-->
<!--          <th scope="col">수</th>-->
<!--          <th scope="col">목</th>-->
<!--          <th scope="col">토</th>-->
<!--          <th scope="col">일</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Mark</td>-->
<!--          <td>Otto</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">2</th>-->
<!--          <td>Jacob</td>-->
<!--          <td>Thornton</td>-->
<!--          <td>@fat</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">3</th>-->
<!--          <td>Larry</td>-->
<!--          <td>the Bird</td>-->
<!--          <td>@twitter</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">4</th>-->
<!--          <td>Larry</td>-->
<!--          <td>the Bird</td>-->
<!--          <td>@twitter</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->



    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4 text-white" type="submit" >등록하기</button>

</form>
<!-- Default form login -->
{% endblock %}