{% extends 'giten/giten_base.html' %}
{% block content %}
<!-- Default form login -->
<form method="post" class="text-center border border-light p-5">
    <input type="hidden" id="campis" name="campis" value="y">
    {% csrf_token %}


<!--    {{ form.as_p }}-->

    <p class="h4 mb-4">모의고사 신청 하기</p>

    <!-- 이름 -->
    <input type="text" name="nameis" id="nameis" class="form-control mb-4" placeholder="이름"
           value="{{ form.nameis.value|default_if_none:'' }}" required>

    <!-- 학교 -->
    <input type="text" name="schoolis" id="schoolis" class="form-control mb-4" placeholder="학교명"
           value="{{ form.schoolis.value|default_if_none:'' }}" required>

    <!-- 학년 -->
    <input type="text" name="gradeis" id="gradeis" class="form-control mb-4" placeholder="학년"
           value="{{ form.gradeis.value|default_if_none:'' }}" required>

    <!-- 전화번호 -->
    <input type="text" name="phoneis" id="phoneis" class="form-control mb-4" placeholder="전화번호"
           value="{{ form.phoneis.value|default_if_none:'' }}" required>

    <!-- 재원/비재원 -->
    <select name="bboosamis" id="bboosamis" class="browser-default custom-select-lg form-control mb-4" required>
      <option selected>재원생/비재원생 선택</option>
      <option value="1">재원생</option>
      <option value="2">비재원생</option>
    </select>

    <!-- 이메일 -->
    <input type="email" name="emailis" id="emailis" class="form-control mb-4" placeholder="이메일"
           value="{{ form.emailis.value|default_if_none:'' }}" required>


    <p class="h5 mb-4">등원 요일/시간 정하기</p>

    <table class="table table-sm">
        <thead>
          <tr>
            <th colspan="2">1주차</th>
            <th colspan="2">2주차</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="1" required> 월</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="1" required> 월</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="2" required> 화</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="2" required> 화</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="3" required> 수</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="3" required> 수</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="4" required> 목</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="4" required> 목</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="5" required> 토</td>
            <td>09:00-12:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="5" required> 토</td>
            <td>09:00-12:00</td>
          </tr>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="6" required> 토</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="6" required> 토</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="7" required> 일</td>
            <td>09:00-12:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="7" required> 일</td>
            <td>09:00-12:00</td>
          </tr>
          <tr>
            <td><input type="radio" class="form-check-input" id="firstweek" name="firstweek" value="8" required> 일</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="secondweek" name="secondweek" value="8" required> 일</td>
            <td>21:00-24:00</td>
          </tr>
        </tbody>
    </table>

    <table class="table table-sm">
        <thead>
          <tr>
            <th colspan="2">3주차(2번등원선택)</th>
            <th colspan="2">4주차</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="1"> 월</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="1" required> 월</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="2"> 화</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="2" required> 화</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="3"> 수</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="3" required> 수</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="4" > 목</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="4" required> 목</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="5"> 토</td>
            <td>09:00-12:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="5" required> 토</td>
            <td>09:00-12:00</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="6"> 토</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="6" required> 토</td>
            <td>21:00-24:00</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="7"> 일</td>
            <td>09:00-12:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="7" required> 일</td>
            <td>09:00-12:00</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" id="thirdweek" name="thirdweek[]" value="8"> 일</td>
            <td>21:00-24:00</td>
            <td><input type="radio" class="form-check-input" id="fourthweek" name="fourthweek" value="8" required> 일</td>
            <td>21:00-24:00</td>
          </tr>
        </tbody>
    </table>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4 text-white" type="submit" id="insert" >등록하기</button>

</form>
<!-- Default form login -->
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $("#insert").on('click', function() {
        if ($("#nameis").val() == ""){
          $("#nameis").focus();
          return false;
        }
        if ($("#schoolis").val() == ""){
          $("#schoolis").focus();
          return false;
        }
        if ($("#gradeis").val() == ""){
          $("#gradeis").focus();
          return false;
        }
        if ($("#phoneis").val() == ""){
          $("#phoneis").focus();
          return false;
        }
        if ($("#bboosamis").val() == ""){
          $("#bboosamis").focus();
          return false;
        }
        if ($("#emailis").val() == ""){
          $("#emailis").focus();
          return false;
        }
        var check_cnt = $("input:checkbox[id=thirdweek]:checked").length
        if(check_cnt != 2) {
            alert('3주차는 2번 선택해야 합니다.');
            return false;
        }else{

          if($("input:radio[id=firstweek]:checked").length == 0){
            $("#firstweek").focus();
            return false;
          }

		  if($("input:radio[id=secondweek]:checked").length == 0){
            $("#secondweek").focus();
            return false;
          }

		  if($("input:radio[id=fourthweek]:checked").length == 0){
             $("#fourthweek").focus();
             return false;
          }

		  $("form").submit();

        }
    });
});
</script>
{% endblock %}