<!-- Footer -->
<footer class="page-footer font-small teal pt-4 border-top">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h8 class="text-uppercase font-weight-bold">주식회사 뿌리와샘</h8>
        <p>사업자번호: 323-86-00305 TEL.064-746-6075</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h8 class="text-uppercase font-weight-bold">대표자</h8>
        <p>류미경</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://bboosam.com/"> bboosam.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->