

<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS 5.1.3-->
    <link rel="stylesheet" type="text/css" href="/static/lecture/bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lecture/bootstrap.min.css.map">
    <link rel="stylesheet" type="text/css" href="/static/lecture/style.css">


    <style>
      body {
        font-family: HYSMyeongJo-Medium;
        font-size: 13px;
      }

    </style>

    <title>수강신청서</title>


</head>

<body class="bg-light">



<div class="row g-5 justify-content-center">
    <div class="col-md-12 col-lg-12">
        <h4 class="mb-3">수강신청서</h4>

        <div class="row g-3 mt-2">
            <div class="col-md-11">
              <!-- <label for="lect_grade" class="form-label">총 0개</label> -->
              <table id="lecture_table" border="1" cellspacing="0" cellpadding="5">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">과목</th>
                      <th scope="col" class="text-center">강사명</th>
                      <th scope="col" class="text-center">강의명</th>
                      <th scope="col" class="text-center">시간선택</th>
                      <th scope="col" class="text-center">비고</th>
                      <th scope="col" class="text-center">수강료(원)</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">국어</td>
                      <td class="align-middle text-center">하명래</td>
                      <td class="align-middle">수능국어</td>
                      
                      <td class="align-middle text-center"> <!-- filter 에 yoil_time 사용 -->
                          
                          
                              
                                □토10:00-13:00<br>
                              
                                □일09:30-12:30<br>
                              
                                □금19:00-22:00<br>
                              
                          
                      
                      
                      (3중 택1)
                      
                      </td>
                     <td class="align-middle text-center"></td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">250,000</span></h5></td>
                    </tr>
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">국어</td>
                      <td class="align-middle text-center">하명래</td>
                      <td class="align-middle">Refill,Refeel 국어훈련시간</td>
                      
                      <td class="align-middle text-center"> <!-- filter 에 yoil_time 사용 -->
                          
                          
                              
                                □월17:00-00:00<br>
                              
                                □화17:00-00:00<br>
                              
                          
                      
                      
                      (2중 택1)
                      
                      </td>
                     <td class="align-middle text-center"></td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">50,000</span></h5></td>
                    </tr>
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">수학</td>
                      <td class="align-middle text-center">김동환</td>
                      <td class="align-middle">MATH부스터</td>
                      
                      <td class="align-middle text-center"> <!-- filter 에 yoil_time 사용 -->
                          
                          
                              
                                □수20:00-22:00<br>
                              
                                □수21:00-23:00<br>
                              
                                □금20:00-22:00<br>
                              
                                □금21:00-23:00<br>
                              
                                □일15:00-17:00<br>
                              
                                □일16:00-18:00<br>
                              
                          
                      
                      
                      (6중 택1)
                      
                      </td>
                     <td class="align-middle text-center"></td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">200,000</span></h5></td>
                    </tr>
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">영어</td>
                      <td class="align-middle text-center">배동환</td>
                      <td class="align-middle">영어</td>
                      
                      <td class="align-middle text-center"> <!-- filter 에 yoil_time 사용 -->
                          
                          
                              
                                □월21:30-23:30<br>
                              
                                □수10:00-11:00<br>
                              
                                □수12:30-14:00<br>
                              
                          
                      
                      
                      (3중 택1)
                      
                      </td>
                     <td class="align-middle text-center"></td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">250,000</span></h5></td>
                    </tr>
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">영어</td>
                      <td class="align-middle text-center">배동환</td>
                      <td class="align-middle">수능영어</td>
                      
                      <td class="align-middle text-center"> <!-- filter 에 yoil_time 사용 -->
                          
                          
                              
                                □월09:00-10:00<br>
                              
                                □목09:00-10:30<br>
                              
                          
                      
                      
                      (2중 택1)
                      
                      </td>
                     <td class="align-middle text-center"></td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">250,000</span></h5></td>
                    </tr>
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">과학</td>
                      <td class="align-middle text-center">이진구</td>
                      <td class="align-middle">내신물리학2</td>
                      
                      <td class="align-middle text-center"> <!-- filter 에 yoil_time 사용 -->
                          
                          
                              
                                □수19:00-22:00<br>
                              
                          
                      
                      
                      (1중 택1)
                      
                      </td>
                     <td class="align-middle text-center">비고입니다.</td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">250,000</span></h5></td>
                    </tr>
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">과학</td>
                      <td class="align-middle text-center">이진구</td>
                      <td class="align-middle">내신물리학2</td>
                      
                      <td class="align-middle text-center"> <!-- filter 에 yoil_time 사용 -->
                          
                          
                              
                                □수19:00-20:30<br>
                              
                          
                      
                      
                      (1중 택1)
                      
                      </td>
                     <td class="align-middle text-center"></td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">250,000</span></h5></td>
                    </tr>
                        
                    <tr>
                      <td scope="row" class="align-middle text-center">과학</td>
                      <td class="align-middle text-center">이진구</td>
                      <td class="align-middle">내신물리학2</td>
                      
                      <td class="align-middle text-center">시간협의</td>
                      
                      
                      </td>
                     <td class="align-middle text-center"></td>
                        <td class="align-middle text-center"><h5><span class="badge bg-danger">250,000</span></h5></td>
                    </tr>
                        
                    
                  </tbody>
              </table>

            </div>
        </div>

    </div>
</div>
<script src="/static/jquery-3.6.0.min.js"></script>
<script>

    jQuery(function(){
      $('#lecture_table').rowspan(0);
      $('#lecture_table').rowspan(1);
    });

    $.fn.rowspan = function(colIdx, isStats) {
			return this.each(function(){
				var that;
				$('tr', this).each(function(row) {
					$('td:eq('+colIdx+')', this).filter(':visible').each(function(col) {

						if ($(this).html() == $(that).html() && $(this).html() != ''){
							rowspan = $(that).attr("rowspan") || 1;
							rowspan = Number(rowspan)+1;

							$(that).attr("rowspan",rowspan);

							// do your action for the colspan cell here
							$(this).hide();

							//$(this).remove();
							// do your action for the old cell here

						} else {
							that = this;
						}

						// set the that if not already set
						that = (that == null) ? this : that;
					});
				});
			});
		};

</script>
</body>
</html>